{% extends "admin/base.html" %}
{% load i18n tz %}{% load url from future %}

{% block title %}Time zone support in Django{% endblock %}

{% block extrahead %}<link rel="shortcut icon" href="{{ STATIC_URL }}time.png">{% endblock %}

{% block branding %}<h1 id="site-name"><a href="{% url 'home' %}">Time zone support in Django</a></h1>{% endblock %}

{% block userlinks %}{% endblock %}

{% block pretitle %}
<h2>Set your time zone and locale</h2>

<p><span class="label">Default time zone:</span> {{ default_timezone_name }}</p>
{% if pytz %}
<form action="{% url 'set_timezone' %}" method="POST">
    {% csrf_token %}
    <label for="django_timezone">Current time zone:</label>
    <select id="django_timezone" name="django_timezone">{% for timezone in timezones %}
        <option{% if timezone == TIME_ZONE %} selected="selected"{% endif %}>{{ timezone }}</option>
    {% endfor %}</select>
    <input type="submit" value="Set">
</form>
<form action="{% url 'set_alt_timezone' %}" method="POST">
    {% csrf_token %}
    <label for="alt_timezone">Alternative time zone:</label>
    <select id="alt_timezone" name="alt_timezone">{% for timezone in timezones %}
        <option{% if timezone == alt_timezone_name %} selected="selected"{% endif %}>{{ timezone }}</option>
    {% endfor %}</select>
    <input type="submit" value="Set">
</form>
{% else %}
<p><em>If you install <a href="http://pytz.sourceforge.net/">pytz</a>, you'll be able to change the current and alternative time zone.</em></p>
<p><span class="label">Current time zone:</span> {{ TIME_ZONE }}</p>
<p><span class="label">Alternative time zone:</span> {{ alt_timezone_name }}</p>
{% endif %}

<form action="{% url 'set_locale' %}" method="POST">
    {% csrf_token %}{% get_language_info_list for LANGUAGES as languages %}
    <label for="language">Locale:</label>
    <select id="language" name="language">{% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ language.name_local|capfirst }} ({{ language.code }})</option>
    {% endfor %}</select>
    <input type="submit" value="Set">
</form>
{% endblock %}
