{% extends "admin/base_site.html" %}
{% load i18n l10n tz %}{% load url from future %}

{% block extrahead %}
<style type="text/css">
div.module table { width: 100%; }
label, span.label { display: inline-block; margin-right: 0.5em; text-align: right; width: 15em;}
</style>
{% endblock %}

{% block content %}

<h2>Set your timezone and locale</h2>

<p><span class="label">Default time zone:</span> {{ default_timezone_name }}</p>
{% if pytz %}
<p><form action="{% url 'set_timezone' %}" method="POST">
    {% csrf_token %}
    <label for="timezone">Current time zone:</label>
    <select name="timezone">
{% for timezone in timezones %}
        <option value="{{ timezone }}"{% if timezone == TIME_ZONE %} selected="selected"{% endif %}>{{ timezone }}</option>
{% endfor %}
    </select>
    <input type="submit" value="Set" />
</form></p>
<p><form action="{% url 'set_alt_timezone' %}" method="POST">
    {% csrf_token %}
    <label for="timezone">Alternative time zone:</label>
    <select name="timezone">
{% for timezone in timezones %}
        <option value="{{ timezone }}"{% if timezone == alt_timezone_name %} selected="selected"{% endif %}>{{ timezone }}</option>
{% endfor %}
    </select>
    <input type="submit" value="Set" />
</form></p>
{% else %}
<p><em>If you install <a href="http://pytz.sourceforge.net/">pytz</a>, you'll be able to change the current and alternative time zone.</em></p>
<p><span class="label">Current time zone:</span> {{ TIME_ZONE }}</p>
<p><span class="label">Alternative time zone:</span> {{ alt_timezone_name }}</p>
{% endif %}

<p><form action="{% url 'set_locale' %}" method="POST">
    {% csrf_token %}
    <label for="language">Locale:</label>
    <select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ language.name_local }} ({{ language.code }})</option>
{% endfor %}
    </select>
    <input type="submit" value="Set" />
</form></p>

<h2>Conversions in templates</h2>

<div class="module">
    <table summary="Conversions for now in UTC">
        <caption>Conversions for now in UTC</caption>
        <tr>
            <th>localtime</th>
            <th>localize</th>
            <th>Default</th>
            <th>Local time</th>
            <th>Alternative time</th>
            <th>UTC</th>
        </tr>
{% localtime on %}
{% localize on %}
        <tr>
            <td>on</td>
            <td>on</td>
            <td>{{ utc_now }}</td>
            <td>{{ utc_now|aslocaltime }}</td>
            <td>{{ utc_now|astimezone:alt_timezone }}</td>
            <td>{{ utc_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% localize off %}
        <tr>
            <td>on</td>
            <td>off</td>
            <td>{{ utc_now }}</td>
            <td>{{ utc_now|aslocaltime }}</td>
            <td>{{ utc_now|astimezone:alt_timezone }}</td>
            <td>{{ utc_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% endlocaltime %}
{% localtime off %}
{% localize on %}
        <tr>
            <td>off</td>
            <td>on</td>
            <td>{{ utc_now }}</td>
            <td>{{ utc_now|aslocaltime }}</td>
            <td>{{ utc_now|astimezone:alt_timezone }}</td>
            <td>{{ utc_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% localize off %}
        <tr>
            <td>off</td>
            <td>off</td>
            <td>{{ utc_now }}</td>
            <td>{{ utc_now|aslocaltime }}</td>
            <td>{{ utc_now|astimezone:alt_timezone }}</td>
            <td>{{ utc_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% endlocaltime %}
    </table>
</div>

<div class="module">
    <table summary="Conversions for now in local time">
        <caption>Conversions for now in local time</caption>
        <tr>
            <th>localtime</th>
            <th>localize</th>
            <th>Default</th>
            <th>Local time</th>
            <th>Alternative time</th>
            <th>UTC</th>
        </tr>
{% localtime on %}
{% localize on %}
        <tr>
            <td>on</td>
            <td>on</td>
            <td>{{ local_now }}</td>
            <td>{{ local_now|aslocaltime }}</td>
            <td>{{ local_now|astimezone:alt_timezone }}</td>
            <td>{{ local_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% localize off %}
        <tr>
            <td>on</td>
            <td>off</td>
            <td>{{ local_now }}</td>
            <td>{{ local_now|aslocaltime }}</td>
            <td>{{ local_now|astimezone:alt_timezone }}</td>
            <td>{{ local_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% endlocaltime %}
{% localtime off %}
{% localize on %}
        <tr>
            <td>off</td>
            <td>on</td>
            <td>{{ local_now }}</td>
            <td>{{ local_now|aslocaltime }}</td>
            <td>{{ local_now|astimezone:alt_timezone }}</td>
            <td>{{ local_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% localize off %}
        <tr>
            <td>off</td>
            <td>off</td>
            <td>{{ local_now }}</td>
            <td>{{ local_now|aslocaltime }}</td>
            <td>{{ local_now|astimezone:alt_timezone }}</td>
            <td>{{ local_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% endlocaltime %}
    </table>
</div>

<div class="module">
    <table summary="Conversions for now as a naive datetime">
        <caption>Conversions for now as a naive datetime</caption>
        <tr>
            <th>localtime</th>
            <th>localize</th>
            <th>Default (no conversion!)</th>
            <th>Local time</th>
            <th>Alternative time</th>
            <th>UTC</th>
        </tr>
{% localtime on %}
{% localize on %}
        <tr>
            <td>on</td>
            <td>on</td>
            <td>{{ naive_now }}</td>
            <td>{{ naive_now|aslocaltime }}</td>
            <td>{{ naive_now|astimezone:alt_timezone }}</td>
            <td>{{ naive_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% localize off %}
        <tr>
            <td>on</td>
            <td>off</td>
            <td>{{ naive_now }}</td>
            <td>{{ naive_now|aslocaltime }}</td>
            <td>{{ naive_now|astimezone:alt_timezone }}</td>
            <td>{{ naive_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% endlocaltime %}
{% localtime off %}
{% localize on %}
        <tr>
            <td>off</td>
            <td>on</td>
            <td>{{ naive_now }}</td>
            <td>{{ naive_now|aslocaltime }}</td>
            <td>{{ naive_now|astimezone:alt_timezone }}</td>
            <td>{{ naive_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% localize off %}
        <tr>
            <td>off</td>
            <td>off</td>
            <td>{{ naive_now }}</td>
            <td>{{ naive_now|aslocaltime }}</td>
            <td>{{ naive_now|astimezone:alt_timezone }}</td>
            <td>{{ naive_now|asutc }}</td>
        </tr>
{% endlocalize %}
{% endlocaltime %}
    </table>
</div>

<h2>Conversion in forms</h2>

<form action="{% url 'home' %}" method="GET">
{{ form.as_p }}
<p><span class="label"></span><input type="submit" value="Submit" /></p>
</form>

{% if when %}
<p><span class="label">You chose</span> <strong>{{ when }} in {{ TIME_ZONE }}</strong></p>
<p><span class="label">which is</span> <strong>{{ when|unlocalize }}</strong></p>
<p><span class="label">and</span> <strong>{{ when|asutc|unlocalize }}</strong></p>
{% endif %}

<h2>Conversions in models</h2>

<p>
    <a href="{% url 'admin:app_list' 'tz_app' %}">Go to the admin and add some objects.</a>
    Here is the contents of the database:
</p>

{% localize off %}{# datetimes are more readable in ISO format #}

<div class="module">
    <table summary="Names objects">
        <caption>Name objects</caption>
        <tr>
            <th>Name</th>
            <th>Dated</th>
            <th>Dated (UTC)</th>
        </tr>
{% for name in names %}
        <tr>
            <td>{{ name.name }}</td>
            <td>{{ name.dated }}</td>
            <td>{{ name.dated|asutc }}</td>
        </tr>
{% endfor %}
    </table>
</div>

<div class="module">
    <table summary="Auto name objects">
        <caption>Auto name objects</caption>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
{% for auto_name in auto_names %}
        <tr>
            <td>{{ auto_name.name }}</td>
            <td>{{ auto_name.created }}</td>
            <td>{{ auto_name.updated }}</td>
        </tr>
{% endfor %}
    </table>
</div>

{% endlocalize %}

{% endblock %}
